<nav class="navbar navbar-expand-lg navbar-transparent" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> Valentin Schär! </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square3"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h3>
                    Über mich
                </h3>
                <h4>
                    Mein Name ist Valentin Schär. Ich bin 25 Jahre alt und angehender Informatiker. Bis Sommer 2021 möchte ich meine Grundausbildung zum Applikationsentwickler abgeschlossen haben.
                </h4>
                <img alt="Valentin" class="img-fluid rounded shadow" src="assets/img/valentin1.jpg" style="width: 350px;" />
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">
                            Meine Stärken <br/>
                        </h1>
                        <p class="text-white mb-3">
                            Im beruflichen würde ich mich selbst als einen sehr präzisen Arbeiter beschreiben, der ein Auge fürs Detail hat und mit diversen Aufgaben zurechtkommt.<br> Zudem spreche ich fliessend Englisch und habe Kenntnisse in der französischen
                            Sprache, was mir eine breite Kommunikationsmöglichkeiten Verschafft.<br>
                        </p>
                        <p class="text-white mb-3">
                            Im privaten habe ich ein musikalisches Talent und schon als Kind verschiedene Instrumente gespielt.<br> Weiterhin möchte ich mein sprachliches Verständnis erwähnen, mit welchem ich saubere und klar verständliche Texte schreibe.
                        </p>
                        <div class="btn-wrapper mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-lg">
            <section class="section">
                <img class="path" src="assets/img/path4.png" />

                <div class="container">
                    <div class="row row-grid justify-content-between">
                        <div class="col-md-5 mt-lg-5">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 px-2 py-2">
                                    <div class="card card-stats">
                                        <div class="card-body">
                                            <div class="row">
                                                <img alt="valentin" class="img-fluid" src="assets/img/valentin4.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pl-md-5">
                                <h1>
                                    Was sind meine Erfahrungen?
                                </h1>
                                <p>
                                    Ich habe mehrere Jahre im kaufmännischen Bereich gearbeitet und diverse Praktika absolviert. Ausserdem habe ich in einem Informatikpraktikum mit ERPNext gearbeitet, was mir komplexe Firmentools nähergebracht hat.
                                </p>
                                <br>

                                <p>
                                    Dementsprechend habe ich Berufserfahrung, die ich nur allzugerne erweitern möchte. Untenstehend finden Sie Projekte, an denen ich gearbeitet habe.
                                </p>
                                <br>
                                <p>
                                    <a href="https://github.com/Lyefyre/erpnext_repairs">ERPNext Repairs:</a> Eine Applikation für ERPNext, mit der sich Reparaturprozesse einfacher abwickeln lassen.<br>
                                </p>
                                <p>
                                    <a href="https://github.com/Lyefyre/Soulflare_Musicplayer">Soulflare Musicplayer:</a> Ein Musicplayer für Android-Telefone, der einen von mir ausgewählten Song abspielt.<br>
                                </p>
                                <p>
                                    <a href="https://github.com/Lyefyre/Angular-Videos">Angular Videos:</a> Eine Webseite, auf der mehrere Videos hochgeladen werden und zusammengefügt werden können.<br>
                                </p>
                                <p>
                                    <a href="https://github.com/Lyefyre/new_website">Meine Homepage:</a> Enthält den Code dieser Homepage<br>
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto">
                </div>
                <div class="col-md-4 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="tim-icons icon-email-85"> </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">E-Mail</h4>
                            <p>
                                v.schaer@gmx.ch <br />
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="tim-icons icon-mobile"> </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Telefon</h4>
                            <p>
                                Festnetz: 031 839 62 00 <br /> Mobil: 079 349 71 44 <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="title">Diese Webseite basiert auf einem Template von Creative Tim. Alle Rechte sind ihm vorbehalten.</h5>
                </div>
            </div>
        </div>
    </footer>
</div>