<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom">
                <button class="btn btn-danger mr-1" [routerLink]="['/home']">Home</button>
                <button class="btn mr-1" [routerLink]="['/document']">Meine Unterlagen</button>
                <button class="btn mr-1" [routerLink]="['/strengths']">Meine Stärken</button>
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ml-auto">
                <div class="info info-horizontal">
                    <img alt="valentin" class="img-fluid" src="assets/img/valentin5.jpg" />
                </div>
            </div>
            <div class="col-md-4 ml-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="tim-icons icon-email-85"> </i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">E-Mail</h4>
                        <p>
                            v.schaer@gmx.ch <br />
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="tim-icons icon-mobile"> </i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Telefon</h4>
                        <p>
                            Festnetz: 031 839 62 00 <br /> Mobil: 079 349 71 44 <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="wrapper">
    <div class="page-header">
        <img class="dots" src="assets/img/dots.png" />

        <img class="path" src="assets/img/path4.png" />
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="title">Diese Webseite basiert auf einem Template von Creative Tim. Alle Rechte sind ihm vorbehalten.</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="title">This website is based on a template made by Creative Tim. All rights reserved to him.</h4>
                </div>
            </div>
        </div>
    </footer>
</div>