<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom">
                <button class="btn btn-danger mr-1" [routerLink]="['/home']">Home</button>
                <button class="btn mr-1" [routerLink]="['/strengths']">Meine Stärken</button>
                <button class="btn btn-info mr-1" [routerLink]="['/contact']">Kontakt</button>
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> BLK• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
                        <div class="square square-7" id="square7"></div>
                        <div class="square square-8" id="square8"></div>
                        <div class="card card-register">
                            <div class="card-body">
                                <form class="form">
                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">

                                        <p style="font-size:20px">Untenstehend finden Sie berufliche Unterlagen von mir.</p>
                                    </div>
                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                                        <a style="font-size:15px" href="https://mega.nz/file/fN4SCYyJ#-WYBiiQVz5tfWBWSix_e6IPvVb2FF3H5Xwt-JfyqDfk">Mein Lebenslauf (Externer Link)</a>
                                    </div>
                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                                        <a style="font-size:15px" href="https://mega.nz/file/6EwEHY5Y#EHrujb0FLmS1BLWpgomH6Fsj8zlD5VBLNNElNiWGZxg">Zeugnisse und Diplopme (Externer Link)</a>
                                    </div>
                                    <div class="form-check text-left">
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-bg"></div>
                <div class="square square-1" id="square1"></div>
                <div class="square square-2" id="square2"></div>
                <div class="square square-3" id="square3"></div>
                <div class="square square-4" id="square4"></div>
                <div class="square square-5" id="square5"></div>
                <div class="square square-6" id="square6"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="title">Diese Webseite basiert auf einem Template von Creative Tim. Alle Rechte sind ihm vorbehalten.</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="title">This website is based on a template made by Creative Tim. All rights reserved to him.</h4>
                </div>
            </div>
        </div>
    </footer>
</div>